@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
body {
  font-family: "Mochiy Pop P One", sans-serif;
}

div {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 50px;
}

#intro {
  display: flex;
  flex-direction: column;
}

#intro h2 {
  font-size: 50px;
}

h3 {
  font-size: 22px;
}

#quote {
  display: flex;
  flex-direction: column;
  background-color: rgba(101, 103, 255, 0.842);
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 550px;
  margin: 50px;
  border-radius: 5px;
}

#quotes {
  height: 190px;
  color: rgb(255, 255, 255);
  margin: 60px;
  font-size: 40px;
  text-align: center;
  word-spacing: 0.3em;
}

#generate {
  margin-bottom: 50px;
  height: 50px;
  width: 150px;
  border-radius: 60px;
  border: none;
  color: rgba(101, 103, 255, 0.843);
  font-size: 16px;
  background-color: white;
  font-weight: 750;
  cursor: pointer;
  font-family: "Mochiy Pop P One", sans-serif;
}

#generate:hover {
  background-color: rgb(230, 230, 230);
}

hr {
  margin: 0;
  height: 25px;
  background-color: rgba(101, 103, 255, 0.842);
  border: none;
  border-radius: 3px;
  margin-bottom: 35px;
}
